@import './styles/variables';

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-family: $msb-font-family;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  background-color: $msb-color-surface-light;
  color: $msb-color-text-high-emphasis-on-light;
}

* {
  box-sizing: border-box;
}

header {
  padding: 1.5rem;
  text-align: left;
}

header,
main {
  margin: 0 auto;
  max-width: 60rem;
}

header h1 {
  margin: 0;
  font-size: $msb-font-size-large;
}

header p {
  font-size: $msb-font-size-medium;
  margin-top: 0.5rem;
}

main {
  padding: 1.5rem;
  min-height: 60vh;
  padding-top: 0;
}

.logo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
}

.logo-item {
  background-color: $msb-color-surface-light;
  border: 1px solid $msb-divider-on-light;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-item picture {
  background: $msb-color-accent-low-emphasis-on-light;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  flex: 1 1 auto;
  align-content: center;
}

.logo-item img {
  max-width: 100%;
  height: auto;
}

.logo-item figcaption {
  margin-top: 0.5rem;
  font-size: $msb-font-size-small;
  color: $msb-color-text-high-emphasis-on-light;
}

footer {
  font-size: $msb-font-size-xsmall;
  padding: 0.5rem;
  text-align: center;
  background-color: $msb-color-surface-light-darker;
  color: $msb-color-text-mid-emphasis-on-light;
  padding-bottom: 3.5rem;
}
